<section class="section">
    <div class="container">
        <div class="bloom-header flex-row">
            <div class="icon xl">
                        <svg class="icon" width="48" height="48">
                            <use href="./images/icon.svg#icon-home"></use>
                        </svg>
            </div>
            <div class="thumb">
                <details class="fancy-font">
                    <summary>PUSH ME</summary>
                    <p class="tip">Щоб побачити переклад - наведіть курсор на слово та зачекайте</p> 
                  </details>
                       
                        <h1 class="section-title skill-up" title="Вказівна сторінка">Index page. </h1>
                        <h2 class="aim" title="Підготуйся до роботи. Знайди інформацію та інструменти.">Get ready to work. Find information and tools. </h2>
                        <p class="info" title="Передусім ви маєте прочитати файл readme.txt та використовувати його для справки">First off all you have to read readme.txt and use it for reference </p>
            </div>
        </div>
    </div>
</section>






