<div class="bloom-header">
    <div class="vidget learn remember__mode">
        <!-- <img src="./images/vidget/learn.png" width="40">
    -->     <div class="done">

    </div>
        </div> 
    <div class="thumb">
        <h1 class="section-title skill-up">Time management. Algorythms.</h1>
        <h2 class="aim">Solve problems. Keep to the deadlines</h2>
        <p class="info">Time-magement is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt laborum autem alias perspiciatis quam mollitia quia velit. Adipisci doloribus eos fugiat, pariatur, quasi quos quidem assumenda nam dolorem aspernatur dolore!</p>
    </div>
</div>