<div class="bloom-header">
    <div class="vidget learn remember__mode">
        <!-- <img src="./images/vidget/learn.png" width="40">
    -->     <div class="done">

    </div>
        </div> 
    <div class="thumb">
        <h1 class="section-title skill-up">Guide. Data processing.</h1>
        <h2 class="aim">Know, understand how to handle routin mental processes</h2>
        <p class="info">Collection of tasks Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quidem, quae illo adipisci dolore alias. Reprehenderit quam laborum nobis ea delectus non, labore, nisi molestiae sed odit debitis officiis consectetur!</p>
    </div>
</div>