<section class="section">
    <div class="container">
        <div class="flex-row">
            <div class="section-thumb">
                <h1 class="section-title skill-up">Storing your content</h1>
                <h2 class="section-aim">Learn how to save you work</h2>
                <p class="section-info">'myFolder' is a folder that...</p>
            </div>
            <div class="doc-block">
                <div class="doc-thumb">
                  
                   
                    <h3 class="footer-block__title">Documentation.</h3>

                    <div class="set-btn">
                        <svg class="set-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-docs"></use>
                        </svg>
                    </div>
                    
                </div>
                <ul class="doc-list">
                    <li class="doc-item">
                        <h4 class="doc-class">Class Registers</h4>

                            <ul class="doc-name-list">
                                <li class="doc-name-item"><a class="doc-name-link" href="">1st class</a></li>
                                <li class="doc-name-item"><a class="doc-name-link" href="">2nd year</a></li>
                                <li class="doc-name-item"><a class="doc-name-link" href="">3rd grade</a></li>
                                <li class="doc-name-item"><a class="doc-name-link" href="">Year 4</a></li>
                                <li class="doc-name-item"><a class="doc-name-link" href="">Year 5</a></li>
                                <li class="doc-name-item"><a class="doc-name-link" href="">6th Form</a></li>
                                <li class="doc-name-item"><a class="doc-name-link" href="">7th Class</a></li>
                                <li class="doc-name-item"><a class="doc-name-link" href="">Form 8</a></li>
                                <li class="doc-name-item"><a class="doc-name-link" href="">Class 9</a></li>
                            </ul>
                    </li>
                    <li class="doc-item">
                        <h4 class="doc-class">Study Plans</h4>

                        <ul class="doc-name-list">
                            <li class="doc-name-item"><a class="doc-name-link" href="">English 1-4. Level A1</a></li>
                            <li class="doc-name-item"><a class="doc-name-link" href="">English 5-7. Level A2</a></li>
                            <li class="doc-name-item"><a class="doc-name-link" href="">English 8-9. Level B1</a></li>
                            <li class="doc-name-item"><a class="doc-name-link" href="">IT 5-6. Beginner User</a></li>
                            <li class="doc-name-item"><a class="doc-name-link" href="">IT 7-9. Intermediate User</a></li>
                            <li class="doc-name-item"><a class="doc-name-link" href="">Physics 7. Basics, SI, Forces</a></li>
                            <li class="doc-name-item"><a class="doc-name-link" href="">Physics 8. Energy and electricity</a></li>
                            <li class="doc-name-item"><a class="doc-name-link" href="">Physics 9. Magnets, Light, Waves</a></li>
                            <li class="doc-name-item"><a class="doc-name-link" href="">STEM</a></li>
                        </ul>
                    </li>
                    <li class="doc-item">
                        <h4 class="doc-class">Common Lesson Plans</h4>
                        

                        <ul class="doc-name-list">
                            <li class="doc-name-item"><a class="doc-name-link" href="">mixed</a></li>
                            <li class="doc-name-item"><a class="doc-name-link" href="">lecture</a></li>
                            <li class="doc-name-item"><a class="doc-name-link" href="">revision</a></li>
                            <li class="doc-name-item"><a class="doc-name-link" href="">testing</a></li>
                            <li class="doc-name-item"><a class="doc-name-link" href="">practice</a></li>
                            <li class="doc-name-item"><a class="doc-name-link" href="">experiment</a></li>
                            <li class="doc-name-item"><a class="doc-name-link" href="">quest</a></li>
                            <li class="doc-name-item"><a class="doc-name-link" href="">quizz</a></li>
                            <li class="doc-name-item"><a class="doc-name-link" href="">project</a></li>
                        </ul>
    
                    </li>

                   
                    </ul>
                </div>
            
        </div>
        <div class="footer-block">
            <h3 class="footer-block__title">Language skills</h3>
            <!-- <div class="title__icons"><img src="./images/subj/ESL.png" width="35"></div> -->
            <ul class="skills__list">
                <li class="title__icons"><img src="./images/vidget/nav-myFolder.png" width="35"></li>
                <li class="skills__icons"><img src="./images/layout/comp-pc.png" width="35"></li>
            </ul>
            
        </div>
    </div>
</section> 