<footer class="footer">
    <div class="container footer-container">
        
        <!-- subjects -->
        <div class="footer-block">
        <h3 class="footer-block__title">School Timetable. Subjects</h3>
        <ul class="skills__list">
            <li><div class="set-btn">
                <svg class="set-icon" width="48" height="48">
                    <use href="../images/icon.svg#icon-docs"></use>
                </svg>

            </div></li>
            <li><div class="routine-btn create__mode">
                <svg class="routine-icon" width="48" height="48">
                    <use href="../images/icon.svg#icon-british-fl"></use>
                </svg>

            </div></li>
            <li><div class="routine-btn create__mode">
                <svg class="routine-icon" width="48" height="48">
                    <use href="../images/icon.svg#icon-ukr-fl"></use>
                </svg>

            </div></li>

            <li><div class="routine-btn create__mode">
                <svg class="routine-icon" width="48" height="48">
                    <use href="../images/icon.svg#icon-it"></use>
                </svg>

            </div></li>

            <li><div class="routine-btn create__mode">
                <svg class="routine-icon" width="48" height="48">
                    <use href="../images/icon.svg#icon-physics"></use>
                </svg>

            </div></li>
        </ul>
        </div>

<!-- blooom tax -->
        <div class="footer-block">
            <h3 class="footer-block__title">Learning skill levels (Based on Bloom taxonomy)</h3>
            <ul class="mob-menu-list">
                <li>
                    <div class="set-btn">
                        <svg class="set-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-flower"></use>
                        </svg>
                    </div>
                </li>
               
                
                <li>
                    <div class="routine-btn remember__mode">
                        <svg class="routine-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-head"></use>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="routine-btn understand__mode">
                        <svg class="routine-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-gears"></use>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="routine-btn apply__mode">
                        <svg class="routine-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-steps"></use>
                        </svg>

                    </div>
                  
                </li>

                <li>
                    <div class="routine-btn analize__mode">
                        <svg class="routine-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-planning"></use>
                        </svg>

                    </div>
                </li>

                <li>
                    <div class="routine-btn evaluate__mode">
                        <svg class="routine-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-estimate"></use>
                        </svg>
<!-- 
                        <img class="routine-icon"  src="./images/estimate-icon.svg" alt="estimate skillset" width="42"> -->

                    </div>
                </li>
                <li>
                    <div class="routine-btn create__mode">
                        <svg class="routine-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-portfolio"></use>
                        </svg>

                    </div>
                </li>

            </ul>
        </div>

        <div class="footer-block">
            <h3 class="footer-block__title">IT skills and tools</h3>
            <ul class="skills__list">
                <li><div class="set-btn">
                    <svg class="set-icon" width="48" height="48">
                        <use href="../images/icon.svg#icon-it"></use>
                    </svg>

                </div></li>
                <li><div class="routine-btn create__mode">
                    <svg class="routine-icon" width="48" height="48">
                        <use href="../images/icon.svg#icon-exlamation"></use>
                    </svg>

                </div></li>
                <li><div class="routine-btn create__mode">
                    <svg class="routine-icon" width="48" height="48">
                        <use href="../images/icon.svg#icon-input"></use>
                    </svg>

                </div></li>

                <li><div class="routine-btn create__mode">
                    <svg class="routine-icon" width="48" height="48">
                        <use href="../images/icon.svg#icon-processing"></use>
                    </svg>

                </div></li>

                <li><div class="routine-btn create__mode">
                    <svg class="routine-icon" width="48" height="48">
                        <use href="../images/icon.svg#icon-output"></use>
                    </svg>

                </div></li>

            </ul>
            </div>
        <!-- Measuring -->
        <div class="footer-block">
            <h3 class="footer-block__title">Planning. Time management</h3>
            <ul class="mob-menu-list">
                <li>
                    <div class="time-btn">
                        <svg class="time-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-clock"></use>
                        </svg>
                        
                    </div>
                </li>
                
                <li>
                    <div class="time-btn">
                        <svg class="time-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-second"></use>
                        </svg>
                        
                    </div>
                    
                </li>
                <li>
                    <div class="time-btn">
                        <svg class="time-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-calendar"></use>
                        </svg>
                       
                    </div>
                </li>

                <li>
                    <div class="time-btn">
                        <svg class="time-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-timetable"></use>
                        </svg>
                       
                    </div>
                </li>

            </ul>
        </div>
        
        <!-- Communicative skills -->
        <div class="footer-block">
            <h3 class="footer-block__title">Language skills</h3>
            <ul class="mob-menu-list">
                <li>
                    <div class="set-btn">
                        <svg class="set-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-british-fl"></use>
                        </svg>
                    </div>
                </li>
               
                
                <li>
                    <div class="routine-btn remember__mode">
                        <svg class="routine-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-listening-skill"></use>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="routine-btn understand__mode">
                        <svg class="routine-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-reading-skill"></use>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="routine-btn apply__mode">
                        <svg class="routine-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-speaking-skill"></use>
                        </svg>

                    </div>
                  
                </li>

                <li>
                    <div class="routine-btn analize__mode">
                        <svg class="routine-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-writing-skill"></use>
                        </svg>

                    </div>
                </li>

                <li>
                    <div class="routine-btn evaluate__mode">
                        <svg class="routine-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-vocab-skill"></use>
                        </svg>
<!-- 
                        <img class="routine-icon"  src="./images/estimate-icon.svg" alt="estimate skillset" width="42"> -->

                    </div>
                </li>
                <li>
                    <div class="routine-btn create__mode">
                        <svg class="routine-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-gears"></use>
                        </svg>

                    </div>
                </li>

            </ul>
        </div>
        <!-- Status Icons -->
        <div class="footer-block">
            <h3 class="footer-block__title">Function Icons</h3>
            <ul class="mob-menu-list">

                <li>
                    <div class="symbols">
                        <svg class="symbol-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-done"></use>
                        </svg>
                    </div>
                </li>

                <li>
                    <div class="symbols">
                        <svg class="symbol-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-exlamation"></use>
                        </svg>
                    </div>
                </li>

                <li>
                    <div class="symbols">
                        <svg class="symbol-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-question"></use>
                        </svg>
                    </div>
                </li>

                <li>
                    <div class="symbols">
                        <svg class="symbol-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-minus"></use>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="symbols">
                        <svg class="symbol-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-multiply"></use>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="symbols">
                        <svg class="symbol-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-divide"></use>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="symbols">
                        <svg class="symbol-icon" width="48" height="48">
                            <use href="../images/icon.svg#icon-arrow"></use>
                        </svg>
                    </div>
                </li>
            </ul>
        </div>
        
    </div>
        
    <!-- <script src="./js/objects.js"></script>;      -->
    <!-- <script src="./js/userFunc.js"></script>;   -->
</footer>