<section class="section recent-links">
    <div class="container">
        <include src="./partials/toolbar.html"></include>
            <ul class="recent-links">
                <li class="section-icon-wrap">
                    
                    <svg class="icon " width="48" height="48">
                        <use href="./images/icon.svg#icon-avaAlice"></use>
                    </svg>
                    <div class="message-out" href="https://www.google.com.ua/"> Добрий день, вітаю в школі. Я твій ментор. Мене звати Alice. Я проведу первинний інструктаж, який допоможе тобі почати роботу</div>
                
                </li>
            </ul>
            <include src="./partials/progressbar.html"></include>
        </div>    
</section> 