
<section class="section recent-links">
    <div class="container">
        <div class="hero-top-menu">
            <ul class="steps">
                <li class="step-first">
                    <svg class="steps-icon s rotate180" width="48" height="48">
                        <use href="./images/icon.svg#icon-exlamation"></use>
                    </svg>
        
                </li>
                <li class="step done"><a class="step-link" href="#">
                    <svg class="steps-icon" width="48" height="48">
                        <use href="./images/icon.svg#icon-home"></use>
                    </svg>
                    </a>
                </li>
                <li class="step done"><a class="step-link" href="#">
                    <svg class="steps-icon" width="48" height="48">
                        <use href="./images/icon.svg#icon-it"></use>
                    </svg></a></li>
                
                <li class="step processing"> <a class="step-link" href="#">
                    <svg class="steps-icon" width="48" height="48">
                        <use href="./images/icon.svg#icon-timetable"></use>
                    </svg>
                    </a>
                </li>
                <li class="step undone"><a class="step-link" href="#">
                    <svg class="steps-icon" width="48" height="48">
                        <use href="./images/icon.svg#icon-flower"></use>
                    </svg>
                    </a></li>
                <li class="step undone"><a class="step-link" href="#">
                    <svg class="steps-icon" width="48" height="48">
                        <use href="./images/icon.svg#icon-docs"></use>
                    </svg>
                    </a></li>
    