<section class="section recent-links">
    <div class="container">
            <ul class="recent-links">
                <li class="section-icon-wrap">
                    
                    <h4 class="recent-link-title it-font"><svg class="section-icon rotate45 s" width="48" height="48">
                        <use href="./images/icon.svg#icon-link"></use>
                    </svg>Useful Links:</h4>
                </li>
                <li><a class="recent-link it-font"href="https://drive.google.com/drive/folders/0ByhrocvevyiOVHNMbWNOQWdtc2c?resourcekey=0-dO0_ck-WcSqEEfbB9lkvXw&usp=sharing" title="URL adress" target="_blank"> Calendar plans</a>
                </li>
                <li> <a class="recent-link it-font" href="https://docs.google.com/document/d/1-MrAf6B0MzdZmsOh9BDbGiEUufq6N9jB/edit?usp=sharing&ouid=107770624719321223228&rtpof=true&sd=true" target="_blank"> School Timetable</a>
                </li>
                <li><a class="recent-link it-font" href="https://translate.google.com/">  https://translate.google.com/ </a></li>
                
    </div>
</section> 