<section class="section recent-links">
    <div class="container">
            <ul class="recent-links">
                <li class="section-icon-wrap">
                    
                    <h4 class="recent-link-title it-font"><svg class="section-icon rotate45 s" width="48" height="48">
                        <use href="./images/icon.svg#icon-link"></use>
                    </svg>Useful Links:</h4>
                </li>
                <li><a class="recent-link it-font" href="https://sites.google.com/view/stemcitysav/%D0%B2%D1%81%D1%82%D1%83%D0%BF" title="STEM 5 class">STEM 5 class</a></li>
                <li><a class="recent-link it-font" href="https://www.youtube.com/" title="URL adress"> https://www.youtube.com/</a>
                </li>
                <li> <a class="recent-link it-font" href="https://www.google.com.ua/"> https://www.google.com.ua/</a>
                </li>
                <li><a class="recent-link it-font" href="https://translate.google.com/">  https://translate.google.com/ </a></li>
                
    </div>
</section> 