<section>
    <div class="container">
        <div class="flex-column remember__mode">
            <!-- title -->
           <div class="flex-row remember__mode">
               <h3 class="section-info-title it-font remember__mode">readme.txt Homepage, what?..</h3>
              <img src="./images/itPrtSc/readme.jpg" alt="readme" width="342px">
                  
           </div>
           <include src="./partials/toolbar.html"></include>
           <p class="section-info it-font">index.html is the main page of a site. It has got the basic information about the site </p>
           
        </div>
    </div>
</section>
