<section class="section timetable__section">
    <div class="container timetable__container">
        <div class="timetable-info">
            <h4 class="timetable-title">Mn -> Tue -> Wed -> <span class="timetable-title__day">THURSDAY, the tenth of November</span> <span class="timetable-title__fut">-> Fr</span> </h4>
            <ol class="timetable-list">
                
                <li class="timetible-lesson">
                    <a class="lesson__link" alt="7classEnglish" href="./health7.html">english | 1 | __  H, I</a>
                </li>
                <li class="timetible-lesson">
                    <a class="lesson__link" alt="7classEnglish" href="./health7.html">english | 3 | __  Goldilocks and bears</a>
                </li>
                <li class="timetible-lesson">
                    <a class="lesson__link" alt="7classEnglish" href="./health7.html">english | 4 | __  Furniture</a>
                </li>
                <li class="timetible-lesson">
                    <a class="lesson__link" alt="7classEnglish" href="./health7.html">english | 2 | __  Time</a>
                </li>
                <li class="timetible-lesson">
                    <a class="lesson__link" alt="7classEnglish" href="./health7.html">english | 7 | __  Health. Visit to doctor</a>
                </li>
                <li class="timetible-lesson">
                    <a class="lesson__link" alt="7classEnglish" href="./health7.html">it      | 8 | __  Word. Lists. Find-replace</a>
                </li>
            </ol>
        </div>
    </div>
</section>



