<section class="section recent-links">
    <div class="container">
            <ul class="recent-links">
                <li class="section-icon-wrap">
                    <svg class="section-icon s" width="48" height="48">
                        <use href="./images/icon.svg#icon-head"></use>
                    </svg>
               </li>
                <li>
                    <svg class="section-icon s" width="48" height="48">
                    <use href="./images/icon.svg#icon-it"></use></svg>
                </li>
                <li> <svg class="section-icon s" width="48" height="48">
                    <use href="./images/icon.svg#icon-docs"></use>
                </svg> </li>
                <li><svg class="section-icon s" width="48" height="48">
                    <use href="./images/icon.svg#icon-writing-skill"></use>
                </svg><li><svg class="section-icon s" width="48" height="48">
                    <use href="./images/icon.svg#icon-vocab-skill"></use>
                </svg>
    </div>
</section> 