/* !!!!!!!!!!!-------header--------!!!!!!!!!!!!!!!!*/
.header {
    margin: 0 auto;
    padding: 6px 0 6px 0;
    width: 100%;
    height: inherit;
    min-width: 256px;
    margin: 0 auto;
    background-color: rgb(122, 76, 6);

  
    max-width: 1200px;
    display: block;
}



.header__container{
    display: flex;
    align-items: center;
    justify-content:space-between;

}

.header__img{
    width: 151px;
    height: 30px;
}

.header__nav{
    order: 2;
}


